<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>

	<!-- display burger icon and tite in tab -->
	<link rel="icon" href="assets/img/burger.ico">
	<title>Eat-Da-Burger!</title>

	<!-- custom styling for this application -->
	<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css">
</head>

<body>
	{{{ body }}}
</body>

</html>